includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: true
    checkMissingIterableValueType: false

